<template>
  <header>
    <div class="container py-5 h-100">
      <div class="text-white text-center row align-items-center h-100">
        <div class="col-12 py-3">
          <div class="row">
            <div class="col-lg-3 col-6 py-1">
              <i class="material-icons">format_paint</i>
              <h6>Tailored To Your Needs </h6>
            </div>
            <div class="col-lg-3 col-6 py-1">
              <i class="material-icons">favorite_border</i>
              <h6>Built With Love</h6>
            </div>
            <div class="col-lg-3 col-6 py-1">
              <i class="material-icons">blur_circular</i>
              <h6>World-Class Apps</h6>
            </div>
            <div class="col-lg-3 col-6 py-1">
              <i class="material-icons">code</i>
              <h6>Pixel-Perfect Code</h6>
            </div>
          </div>
        </div>
        <div class="col-12 py-3">
          <div class="row align-items-center">
            <div class="col-lg-6 col-12 py-3">
              <h2>Hi. I’m ezzabuzaid, a frontend enginner from jordan, amman. Please take a look around!</h2>
            </div>
            <div class="col-lg-6 col-12 py-3">
              <p>I am passionate about building excellent software that improves the lives of those around me. I specialize in creating software for clients ranging from individuals and small-businesses all the way to large enterprise corporations. All of
                my work is produced locally from Moscow, Idaho. What would you do if you had a software expert available at your fingertips?</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
  export default {
    name: 'app-about',
    data() {
      return {}
    }
  }
</script>

<style scoped lang="scss">
  header {
    @media (min-width: 768px) {
      height: 500px;
    }
    background-image: linear-gradient(to top, #ff416c, #ff4b2b);
    i.material-icons {
      font-size: 5rem;
    }
  }
</style>
