<template>
    <div class="container">
        <header class="my-5">
            <h3 class="font-weight-bold text-center">
                I'm proud to have collaborated with some awesome companies:
            </h3>
        </header>
        <section>
            <div class="row align-items-center justify-content-around">
                <div class="col-md-4 col-lg-3  col-6">
                    <div class="angular">
                        <img class="img-fluid my-3" src="@/assets/images/angular-logo.png" alt="Angular">
                    </div>
                </div>
                <div class="col-md-4 col-lg-3  col-6">
                    <div class="angular">
                        <img class="img-fluid my-3" src="@/assets/images/angular-logo.png" alt="Angular">
                    </div>
                </div>
                <div class="col-md-4 col-lg-3  col-6">
                    <div class="angular">
                        <img class="img-fluid my-3" src="@/assets/images/angular-logo.png" alt="Angular">
                    </div>
                </div>
                <div class="col-md-4 col-lg-3  col-6">
                    <div class="angular">
                        <img class="img-fluid my-3" src="@/assets/images/angular-logo.png" alt="Angular">
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    export default {
        name: 'app-collaborated'
    }
</script>

<style lang="scss" scoped>
    img {
        max-width: 200px;
    }
</style>
