<template>
    <div class="container">
        <div class="row justify-content-center">
            <header class="col-12 col-lg-9 text-center py-5">
                <h1 class="font-weight-bold"> Thanks for taking the time to reach out. </h1>
                <h3> What can I do for you today?</h3>
            </header>
            <div class="col-lg-4 col-12">
                <section class="d-flex flex-column align-items-start my-3">
                    <div class="d-flex align-items-end justify-content-lg-start justify-content-center">
                        <a class="bg-dark text-white btn bmd-btn-fab d-flex align-items-center justify-content-center  my-2 ">
                            <i class="material-icons">email</i>
                        </a>
                        <span class="blockquote-footer">ezzabuzaid@hotmail.com</span>
                    </div>
                    <div class="d-flex align-items-end justify-content-lg-start justify-content-center">
                        <a class="bg-info text-white btn bmd-btn-fab d-flex align-items-center justify-content-center  my-2" href="tel:+962792807794">
                            <i class="material-icons">phone</i>
                        </a>
                        <span class="blockquote-footer">+962792807794</span>
                    </div>
                    <div class="d-flex align-items-end justify-content-lg-start justify-content-center">
                        <a class="bg-success text-white btn bmd-btn-fab d-flex align-items-center justify-content-center my-2 ">
                            <i class="material-icons">place</i>
                        </a>
                        <span class="blockquote-footer">Jordan / Amman</span>
                    </div>
                    <div class="d-flex align-items-end justify-content-lg-start justify-content-center">
                        <a class="facebook text-white btn bmd-btn-fab d-flex align-items-center justify-content-center my-2" href="" target="_blank">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <span class="blockquote-footer">Facebook</span>
                    </div>
                    <div class="d-flex align-items-end justify-content-lg-start justify-content-center">
                        <a class="github text-white btn bmd-btn-fab d-flex align-items-center justify-content-center my-2" href="">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </a>
                        <span class="blockquote-footer">Github</span>
                    </div>
                    <div class="d-flex align-items-end justify-content-lg-start justify-content-center">
    
                        <a class="linked-in text-white btn bmd-btn-fab d-flex align-items-center justify-content-center my-2" href="" target="_blank">
                            <i class="fa fa-linkedin"></i>
                        </a>
                        <span class="blockquote-footer">Linkedin</span>
                    </div>
                </section>
            </div>
            <div class="col-lg-8 col-12">
                <h4 class="text-capitalize p-3 text-danger">Feel free to speak ^^</h4>
                <section>
                    <div class="my-5 d-flex justify-content-between">
                        <div class="form-group w-100 px-3">
                            <input id="name" type="text" required placeholder="Name" class="form-control">
                        </div>
                        <div class="form-group w-100 px-3">
                            <input type="email" required placeholder="Email" class="form-control">
                        </div>
                    </div>
                    <div class="my-5 form-group w-100 px-3">
                        <input type="text" required placeholder="Subject" class="form-control">
                    </div>
                    <div class="my-5 form-group px-3">
                        <textarea class="form-control" required placeholder="Message" rows="3"></textarea>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- <div style="height: 50vh;" id="map"></div> -->
</template>

<script>
    export default {
        name: 'app-contact',
        data() {
            return {}
        }
    }
</script>

<style scoped lang="scss">
    .linked-in {
        background-color: #1565C0 !important;
    }
    
    .facebook {
        background-color: #3f51b5 !important;
    }
    
    .github {
        background-color: #6e5494 !important
    }
</style>
