<template>
    <footer class="position-relative bg-dark ">
        <div class="position-absolute img-up">
        </div>
        <div class="container position-relative text-light text-center py-5">
            <section class="my-3">
                <div class="container">
                    <p class="text-capitalize">Copy right © 2018 - <span class="text-danger">ezz abuzaid</span> - Frontend enginner - all right reserved</p>
                </div>
            </section>
            <section class="my-3">
                <button class="btn btn-outline-danger">Button</button>
                <button class="btn btn-outline-danger">Button</button>
            </section>
            <section class="my-3">
                <p class="mb-0">This site was built with great tools like Photoshop, Sublime Text 2 & Codekit. Font used in headlines is Brandon Grotesque, font in body copy is FF Meta Serif Web Pro. Both fonts are served up via Typekit.</p>
            </section>
        </div>
    </footer>
</template>

<script>
    export default {
        name: 'app-footer',
        data() {
            return {}
        }
    }
</script>

<style scoped lang="scss">
    .img-up {
        background-image: url('http://glcsolutions.ca/wp-content/uploads/2018/04/graph-alt.png');
        height: 100%;
        width: 100%;
        background-repeat: round;
        background-size: 2px;
        z-index: 0;
        +div {
            z-index: 1;
        }
    }
</style>
