<template>
  <div class="container text-center">
    <div class="wrapper-1 p-md-5 d-flex align-items-center justify-content-center flex-column" :style="{height:`calc(${windowHeight}px - var(--toolbar-height))`}">
      <h1 class="display-3 font-weight-bold">Designer, Front-end Developer & Mentor</h1>
      <p class="lead text-danger">I design and code beautifully simple things, and I love what I do.</p>
      <div class="my-5">
        <img src="@/assets/images/0.jpeg" alt="Profile Picture" class="img-fluid">
      </div>
    </div>
    <div class="wrapper-2">
      <header class="my-5">
        <h3>Our tools and frameworks</h3>
      </header>
      <div class="d-flex justify-content-around align-items-center flex-wrap">
        <div class="angular">
          <img class="img-fluid my-3" src="@/assets/images/angular-logo.png" alt="Angular">
        </div>
        <div class="vue">
          <img class="img-fluid my-3" src="@/assets/images/vue-logo.svg" alt="Vue">
        </div>
        <div class="node">
          <img class="img-fluid my-3" src="@/assets/images/node-logo.png" alt="Node">
        </div>
        <div class="ts">
          <img class="img-fluid my-3" src="@/assets/images/typescript-logo.png" alt="TypeScript">
        </div>
        <div class="sass">
          <img class="img-fluid my-3" src="https://sass-lang.com/assets/img/logos/logo-b6e1ef6e.svg" alt="Sass">
        </div>
        <div class="bootstrap">
          <img class="img-fluid my-3" src="@/assets/images/bootstrap-logo.png" alt="Bootstrap">
        </div>
        <div class="giy">
          <img class="img-fluid my-3" src="@/assets/images/git-logo.png" alt="Git">
        </div>
        <div class="jQuery">
          <img class="img-fluid my-3" src="@/assets/images/jquery-logo.png" alt="jQuery">
        </div>
        <div class="firebase">
          <img class="img-fluid my-3" src="@/assets/images/firebase-logo.png" alt="Firebase">
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'app-header',
    data() {
      return {
        windowHeight: window.innerHeight
      }
    }
  }
</script>

<style scoped lang="scss">
  .wrapper-1 img {
    border-radius: 50%;
  }
  
  .wrapper-2 img {
    max-width: 75px;
    @media (max-width: 992px) {
      // max-width:50px;
    }
  }
</style>
