<template>
    <div>
        <app-header/>
        <app-about/>
        <app-startup/>
        <hr>
    
        <app-works/>
        <hr>
    
        <app-testimonials/>
        <hr>
    
        <app-collaborated/>
        <hr>
    
        <app-start/>
    </div>
</template>

<script>
    import headerVue from './header.vue';
    import startupProjectVue from './startupProject.vue';
    import startProjectVue from './startProject.vue';
    import worksVue from './works.vue';
    import aboutVue from './about.vue';
    import testimonialsVue from './testimonials.vue';
    import collaboratedCompaniesVue from './collaboratedCompanies.vue';
    export default {
        name: 'app-home',
        components: {
            'app-header': headerVue,
            'app-startup': startupProjectVue,
            'app-start': startProjectVue,
            'app-works': worksVue,
            'app-about': aboutVue,
            'app-testimonials': testimonialsVue,
            'app-collaborated': collaboratedCompaniesVue
        }
    }
</script>

<style lang="scss">
    
</style>