<template>
    <footer>
        <div class="container">
            <div class="wrapper shadow bg-danger rounded">
                <div class="row align-items-center justify-content-around p-5 text-white flex-column flex-lg-row">
                    <h3 class="my-3 font-weight-bold">Start a project </h3>
                    <p class="text-center my-3 col-lg-4 col-md-9 col-12">Start a project Interested in working together? We should queue up a chat. I’ll buy the coffee.</p>
                    <div class="my-3">
                        <router-link to="/contact" class="btn btn-outline-light">Lets talk!</router-link>
                    </div>
                </div>
            </div>
        </div> 
    </footer>
</template>

<script>
    export default {
        name: 'app-start',
        data() {
            return {}
        }
    }
</script>

<style scoped lang="scss">
    .shadow {
        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px var(--danger)
    }
</style>
