<template>
    <div class="works p-md-5">
        <header class="text-center my-5">
            <h3 class="font-weight-bold ">My Startup Projects </h3>
            <p>It would be a fun challenge to try designing and building my own, don't forget to take a look</p>
        </header>
        <div class="shadow position-relative container">
            <div class="row project-images">
                <div class="col-lg-8 col-12 p-0 h-100">
                    <div class="image-wrapper position-relative">
                        <aside class="hovered-image position-absolute" style="top:0">
                            <button @click="openPicture($event)" class="btn btn-outline-danger">More information!</button>
                        </aside>
                        <div class="position-relative h-50" style="bottom: 0px;">
                            <img style="top: 0;" alt="Dish-8 " class="img-fluid" src="http://kb4images.com/images/picture/37509081-picture.jpg">
                        </div>
                        <section class="text-center position-absolute w-100">
                            <h3>Name of the dish</h3>
                            <p class="s-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit molestias assumenda dicta odit optio tempore natus, explicabo incidunt</p>
                        </section>
                        <div class="position-relative h-50" style="top: 0px;">
                            <img style="bottom: 0;" alt="Dish-8 " class="img-fluid" src="http://kb4images.com/images/picture/37509081-picture.jpg">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12 p-0 h-100">
                    <div class="h-100 grid">
                        <div class="image-wrapper position-relative">
                            <aside class="hovered-image position-absolute" style="top:0">
                                <button @click="openPicture($event)" class="btn btn-outline-danger">More information!</button>
                            </aside>
                            <div class="position-relative h-50" style="bottom: 0px;">
                                <img style="top: 0;" alt="Dish-8 " class="img-fluid" src="https://static01.nyt.com/images/2018/05/23/dining/23fruit/23fruit-articleLarge.jpg?quality=75&auto=webp&disable=upscale">
                            </div>
                            <section class="text-center position-absolute w-100">
                                <h3>Name of the dish</h3>
                                <p class="s-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit molestias assumenda dicta odit optio tempore natus, explicabo incidunt</p>
                            </section>
                            <div class="position-relative h-50" style="top: 0px;">
                                <img style="bottom: 0;" alt="Dish-8 " class="img-fluid" src="https://static01.nyt.com/images/2018/05/23/dining/23fruit/23fruit-articleLarge.jpg?quality=75&auto=webp&disable=upscale">
                            </div>
                        </div>
                        <div class="image-wrapper position-relative">
                            <aside class="hovered-image position-absolute" style="bottom:0">
                                <button @click="openPicture($event)" class="btn btn-outline-danger">More information!</button>
                            </aside>
                            <div class="position-relative h-50" style="bottom: 0px;">
                                <img style="top: 0;" alt="Dish-8 " class="img-fluid" src="https://media.treehugger.com/assets/images/2018/04/toxic-fruit.jpg.860x0_q70_crop-scale.jpg">
                            </div>
                            <section class="text-center position-absolute w-100">
                                <h3>Name of the dish</h3>
                                <p class="s-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit molestias assumenda dicta odit optio tempore natus, explicabo incidunt</p>
                            </section>
                            <div class="position-relative h-50" style="top: 0px;">
                                <img style="bottom: 0;" alt="Dish-8 " class="img-fluid" src="https://media.treehugger.com/assets/images/2018/04/toxic-fruit.jpg.860x0_q70_crop-scale.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
     export default {
         name: 'app-startup',
         data() {
             return {}
         },
         methods: {
             openPicture({
                 target
             }) {
                 const element = target.parentElement.parentElement;
                 console.log(element);
                 element.classList.toggle('present-text-from-image');
             }
         }
     }
</script>

<style scoped lang="scss">
    $wrapperHeight: 550px;
    .project-images {
        .image-wrapper {
            height: $wrapperHeight;
            @media (max-width: 992px) {
                height: 250px;
            }
            overflow: hidden;
            z-index: 2;
            transition-delay: 0.25s;
            section {
                transform: translateY(-50%);
                z-index: -2;
            }
            >div {
                overflow: hidden;
                will-change: top, bottom;
                transition: all 0.5s cubic-bezier(0.99, -0.46, 0, 1.42)
            }
            img {
                position: absolute;
                height: 200%;
                width: 100%;
                z-index: -1;
                transition: transform 0.25s;
            }
            .hovered-image {
                width: 100%;
                height: 100%;
                left: 0;
                align-items: center;
                justify-content: center;
                z-index: -1;
                display: flex;
            }
            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: -1;
                will-change: background-color, z-index;
                transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
            }
            &:hover {
                .hovered-image {
                    transition-delay: 0.5s;
                    z-index: 100;
                }
                &:not(.present-text-from-image) {
                    &::before {
                        z-index: 99;
                        background-color: #2568a2bf;
                    }
                    img {
                        transform: scale(1.5);
                    }
                }
            }
            &.present-text-from-image {
                .hovered-image {
                    display: none !important;
                }
                background-color: transparent;
            }
            &.present-text-from-image>div:first-of-type {
                bottom: 100px !important;
            }
            &.present-text-from-image>div:last-of-type {
                top: 100px !important;
            }
        }
        .grid {
            >div {
                height: $wrapperHeight / 2;
            }
            @media (max-width: 992px) and (min-width: 768px) {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
        }
    }
</style>
