<template>
    <section>
        <div class="container">
            <header class="my-5 text-center">
                <h3 class="font-weight-bold">Testimonials</h3>
                <p>People I've worked with have said some nice things...</p>
            </header>
            <div class="wrapper-2">
                <div class="slider-container container">
                    <div class="slider-wrapper row flex-nowrap text-center">
                        <div class="col-12">
                            <figure>
                                <img class="img-fluid rounded mb-4" width="100" src="https://cdn.dribbble.com/users/255/screenshots/2260728/avatar-colored-d.png" alt="">
                                <figcaption>
                                    <div class="col-lg-6 col-12 mx-auto">
                                        <h4>“Matt was a real pleasure to work with and we look forward to working with him again. He’s the kind of designer you can trust with a project from start to finish.”
                                        </h4>
                                    </div>
                                    <p class="lead font-weight-bold mb-0 mt-2">Company name</p>
                                    <p>Company works, type</p>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-12">
                            <figure>
                                <img class="img-fluid rounded mb-4" width="100" src="https://cdn.dribbble.com/users/255/screenshots/2260728/avatar-colored-d.png" alt="">
                                <figcaption>
                                    <div class="col-lg-6 col-12 mx-auto">
                                        <h4>“Matt was a real pleasure to work with and we look forward to working with him again. He’s the kind of designer you can trust with a project from start to finish.”
                                        </h4>
                                    </div>
                                    <p class="lead font-weight-bold mb-0 mt-2">Company name</p>
                                    <p>Company works, type</p>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-12">
                            <figure>
                                <img class="img-fluid rounded mb-4" width="100" src="https://cdn.dribbble.com/users/255/screenshots/2260728/avatar-colored-d.png" alt="">
                                <figcaption>
                                    <div class="col-lg-6 col-12 mx-auto">
                                        <h4>“Matt was a real pleasure to work with and we look forward to working with him again. He’s the kind of designer you can trust with a project from start to finish.”
                                        </h4>
                                    </div>
                                    <p class="lead font-weight-bold mb-0 mt-2">Company name</p>
                                    <p>Company works, type</p>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="indicatior-wrapper d-flex justify-content-center"></div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import {
        Slider
    } from '@/assets/scripts/slider.js';
    export default {
        name: 'app-testimonials',
        data() {
            return {}
        },
        mounted() {
            new Slider({
                carouesl: this.$el.querySelector('.slider-wrapper'),
                indicatiorWrapper: this.$el.querySelector('.indicatior-wrapper'),
                duration: 4000
            })
        }
    }
</script>

<style scoped lang="scss">
    .slider-container {
        overflow: hidden;
    }
    
    .slider-wrapper {
        transition-property: transform;
    }
    
    .slider-wrapper div {
        overflow: hidden;
    }
</style>