<template>
    <div class="container">
        <nav>
            <div class="wrapper h-100">
                <div class="d-flex justify-content-between align-items-center h-100">
                    <router-link to="/" class="h4">
                        <span>Semi</span>
                        <img src="http://www.stickpng.com/assets/thumbs/5847ea2ecef1014c0b5e4834.png" alt="Logo" width="50" height="50" class="img-fluid">
                        <span>Sync</span>
                    </router-link>
                    <div>
                        <router-link to="/contact" class="btn btn-outline-danger">Say Hello</router-link>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</template>

<script>
    export default {
        name: 'app-toolbar',
        data() {
            return {}
        }
    }
</script>

<style lang="scss" scoped>
    nav {
        height: var(--toolbar-height);
        a:not(.h4) {
            border-radius: 50px;
            &:hover{
                background-color: var(--danger) !important;
                color: #fff !important;
            }
        }
    }
</style>
