<template>
    <div class="container my-5">
        <header class="text-center">
            <h3 class="font-weight-bold ">My Recent Work</h3>
            <p>It would be a fun challenge to try designing and building my own, don't forget to take a look </p>
        </header>
        <section class="py-5">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card">
                        <div class="wrapper">
                            <img class="img-fluid h-100" src="http://www.illuminationworksllc.com/wp-content/uploads/2017/04/ProjectManagement-1.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card">
                        <div class="wrapper">
                            <img class="img-fluid h-100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRD0LX1BPdiEgIaYNsEUGEYD432ilBrHGa94p-VT_jysCQ_VoOS" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    export default {
        name: 'app-works',
        data() {
            return {}
        }
    }
</script>

<style scoped lang="scss">
    .shadow {
        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px var(--danger)
    }
    
    .card {
        border-radius: 3rem;
        .wrapper {
            height: 250px;
            &:hover {
                img {
                    transform: rotateZ(360deg) scale(0);
                }
            }
            img {
                will-change: transform;
                transition: transform 1s;
                border-radius: 3rem;
            }
        }
    }
</style>
