<template>
  <div id="app">
    <app-toolbar/>
    <main class="py-5">
      <router-view/>
    </main>
    <app-footer/>
  </div>
</template>

<script>
  import toolbarVue from './components/toolbar.vue';
  import footerVue from './components/footer.vue';
  export default {
    name: 'App',
    components: {
      'app-toolbar': toolbarVue,
      'app-footer': footerVue,
    }
  }
</script>

<style lang="scss">
  body {
    background-color: #fff;
    // 'Cairo', 
    font-family: 'Arvo', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
  }
  
  @media (max-width: 768px) {
    h1,
    .h1 {
      font-size: 6vw !important;
    }
    p,
    .p {
      font-size: 4vw !important;
    }
  }
  
  main>div>*:not(:last-child):not(:first-child) {
    margin-top: 15vh;
    margin-bottom: 15vh;
  }
  
   :root {
    --toolbar-height: 100px
  }
</style>
